<div>
  <div id="menu">
    <div id="menu-dashboard-icon">
      <div class="dashboard-icon"></div>
    </div>
    <div id="menu-dashboard-text">
      <router-link to="/dashboard" class="menu-text-style">ダッシュボード</router-link>
    </div>
    <div id="menu-human-icon">
      <div class="human-icon"></div>
    </div>
    <div id="menu-human-text">
      <router-link to="/members" class="menu-text-style">人員情報</router-link>
    </div>
    <div id="menu-project-icon">
      <div class="project-icon"></div>
    </div>
    <div id="menu-project-text">
      <router-link to="/projects" class="menu-text-style">案件情報</router-link>
    </div>
    <div id="menu-favorite-icon">
      <div class="favorite-icon"></div>
    </div>
    <div id="menu-favorite-text">
      <router-link to="/projects" class="menu-text-style">お気に入り</router-link>
    </div>
    <div id="menu-account-icon">
      <div class="account-icon"></div>
    </div>
    <div id="menu-account-text">
      <router-link to="/projects" class="menu-text-style">アカウント管理</router-link>
    </div>
    <div id="menu-setting-icon">
      <div class="setting-icon"></div>
    </div>
    <div id="menu-setting-text">
      <router-link to="/projects" class="menu-text-style">設定</router-link>
    </div>
  </div>
</div>