#app {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 150px 1fr;
}

#menu {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: #f88;
}

#information {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background: #8f8;
}

#main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: #88f;
  height: -webkit-fill-available;
}