#memberlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-column: 1 / 2;
  grid-row: 3 / 4;

  width: 100%;
  height: 100%;
  align-items: center;

  overflow: auto;
}

@mixin memberlist-grid() {
  display: grid;
  grid-template-columns: 150px 150px repeat(4, 100px) 150px 1fr;
  grid-template-rows: 1fr;
}

#memberlist-header {
  @include memberlist-grid();

  grid-column: 1 / 2;
  grid-row: 1;

  font-size: 16px;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-color: cornflowerblue;
  background-color: lightskyblue;
}

@mixin memberlist-item($color) {
  @include memberlist-grid();

  // border-left: solid;
  // border-right: solid;
  border-bottom: dashed;
  border-width: 1px;
  border-color: cornflowerblue;

  // color: $color;

  align-items: center;
  justify-items: center;

  font-size: 14px;
  font-family: sans-serif;
}

.memberlist-item-m {
  @include memberlist-item(royalblue);
}

.memberlist-item-f {
  @include memberlist-item(hotpink);
}

.memberlist-name-color-m {
  color: blue;
}

.memberlist-name-color-f {
  color: red;
}


