#menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 52px) 1fr;

  width: 100%;
  height: 100%;
  align-items: center;
}

@mixin menu-item($row) {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: $row;
  grid-row-end: $row + 1;

  width: 100%;
  height: 100%;
  align-items: center;
}

#menu-item-dashboard {
  @include menu-item(1);
}

#menu-dashboard-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#menu-dashboard-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#menu-item-human {
  @include menu-item(2);
}

#menu-human-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#menu-human-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#menu-item-project {
  @include menu-item(3);
}

#menu-project-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#menu-project-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#menu-item-favorite {
  @include menu-item(4);
}

#menu-favorite-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#menu-favorite-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#menu-item-account {
  @include menu-item(5);
}

#menu-account-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#menu-account-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#menu-item-setting {
  @include menu-item(6);
}

#menu-setting-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#menu-setting-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

@mixin menu-icon($imgUrl) {
  background: url($imgUrl) no-repeat center center;
  width: 32px;
  height: 32px;
  background-size: contain;
  border: none;
  margin: 10px 10px 10px 10px;
}

.dashboard-icon {
  @include menu-icon('../resources/images/dashboard.svg');
}

.dashboard-icon-selected {
  @include menu-icon('../resources/images/dashboard-selected.svg');
}

.human-icon {
  @include menu-icon('../resources/images/human.svg');
}

.human-icon-selected {
  @include menu-icon('../resources/images/human-selected.svg');
}

.project-icon {
  @include menu-icon('../resources/images/project.svg');
}

.project-icon-selected {
  @include menu-icon('../resources/images/project-selected.svg');
}

.favorite-icon {
  @include menu-icon('../resources/images/favorite.svg');
}

.favorite-icon-selected {
  @include menu-icon('../resources/images/favorite-selected.svg');
}

.account-icon {
  @include menu-icon('../resources/images/account.svg');
}

.account-icon-selected {
  @include menu-icon('../resources/images/account-selected.svg');
}

.setting-icon {
  @include menu-icon('../resources/images/setting.svg');
}

.setting-icon-selected {
  @include menu-icon('../resources/images/setting-selected.svg');
}

.menu-text-style {
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
}

.menu-item-selected {
  background-color: #2595C7;
}

.menu-text-selected {
  color: #FFFFFF;
}

.menu-text {
  color: #000000;
}