<div>
  <div id="dashboard">
    <div id="dashboard-indicator-area">
      <div id="date-indicator">
        <div>
          <div class="indicator-yyyy-text">2018</div>
          <div class="indicator-mmdd-text">7/13</div>
        </div>
        <div class="indicator-date-icon"></div>
      </div>
      <router-link to="/members" id="members-indicator">
          <div class="indicator-text">1053</div>
        <div class="indicator-member-icon"></div>
      </router-link>
      <router-link to="/projects" id="projects-indicator">
          <div class="indicator-text">103</div>
        <div class="indicator-project-icon"></div>
      </router-link>
    </div>
    <div id="dashboard-whats-new-area">
      <div id="dashboard-whats-new-title">
        <div id="dashboard-whats-new-title-icon"></div>
        <div id="dashboard-whats-new-title-text">
          What's New
        </div>
      </div>
      <div id="dashboard-whats-new-list">
        <div v-for="(item, index) in getWhatsNewList()" id ="dashboard-whats-new-item">
          <div class="dashboard-whats-new-item-margin">{{item.date}}</div>
          <div class="dashboard-whats-new-item-margin" :class="[item.kind === 'SYSTEM' ? 'dashboard-kind-system' : item.kind === 'MEMBER' ? 'dashboard-kind-member' :'dashboard-kind-project']">{{item.kind}}</div>
          <div>{{item.text}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
