<div>
  <div id="memberlist">
    <div id="memberlist-header">
      <div>名前</div>
      <div>年齢</div>
      <div>部</div>
      <div>ユニット</div>
      <div>チーム</div>
      <div>役職</div>
      <div>プロジェクト</div>
    </div>
    <div v-for="(item, index) in getListData()" id="memberlist-item">
      <div v-if="shouldFilter(item.team)"></div>
      <div v-else>
        <div v-on:mouseenter="setActiveItem(item.id)" v-on:mouseleave="clearActiveItem()" :class="[item.gender === 'M' ? 'memberlist-item-m' : 'memberlist-item-f', isActiveItem(item.id) ? 'memberlist-item-active' : '']">
          <div :class="[item.gender === 'M' ? 'memberlist-name-color-m' : 'memberlist-name-color-f', 'available-text-epllisis']">{{item.name}}</div>
          <div>{{item.age}}</div>
          <div class="available-text-epllisis">{{item.dept}}</div>
          <div class="available-text-epllisis">{{item.unit}}</div>
          <div class="available-text-epllisis">{{item.team}}</div>
          <div class="available-text-epllisis">{{item.position}}</div>
          <div class="available-text-epllisis">{{item.projectName}}</div>
          <div v-if="isActiveItem(item.id)">
            <button class="memberlist-button-favorite" v-on:click="toggleFavorite(item.id)"></button>
            <button class="memberlist-button-delete" v-on:click="deleteItem(item.id)"></button>
            <button class="memberlist-button-add" v-on:click="addItem()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
